apiVersion: v1
kind: Secret
metadata:
  name: django-secrets
type: Opaque
stringData:
  SECRET_KEY: "your-secret-key"
  DATABASE_URL: "postgres://test_k8s:OwOtBep9Frut@my-postgres-postgresql.default.svc.cluster.local:5432/test_k8s"
  ALLOWED_HOSTS: "localhost,127.0.0.1,<minikube-ip>"